html{
    background-color: rgb(0, 0, 0);
    overflow-y: hidden;
    overflow-x: hidden;
}

@font-face {
    font-family: stepsmono;
    src: url("Steps-Mono-Thin.otf") format("opentype");
}

@font-face {
    font-family: stepsmonobold;
    src: url("Steps-Mono.otf") format("opentype");
}

@font-face {
    font-family: happytimesbold;
    src: url("happy-times-NG_bold_master_web.ttf") format("truetype");
}

@font-face {
    font-family: happytimesitalic;
    src: url("happy-times-NG_italic_master_web.ttf") format("truetype");
}

@font-face {
    font-family: happytimesregular;
    src: url("happy-times-NG_regular_master_web.ttf") format("truetype");
}

@font-face {
    font-family: univers;
    src: url("UniversLTStd-Cn.otf") format("opentype");
}

@font-face {
    font-family: fraktion;
    src: url("PPFraktionSans-Light.otf") format("opentype");
}

@font-face {
    font-family: supply;
    src: url("PPSupplyMono-Ultralight.otf") format("opentype");
}


a:link {
  text-decoration: none;
}

#machinebox{
    width: 100%;
    height: 100%;
    left: 0%;
    top:0%;
    background-color: rgba(0, 0, 0, 0.333);
    position: absolute;
    z-index: 0;
}

.vhs{
    z-index:-10;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    opacity: 5%;
    position: absolute;
    mix-blend-mode: screen;
}

.background{
    z-index:-20;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0%;
    top: 0%;
    filter: blur(5px);
    display:none;
}

.album{
    /* z-index:-15; */
    position: absolute;
    height:50%;
    width:auto;
    margin-left: 30%;
    margin-top: 10%;
    /* filter: drop-shadow(0 0 0.5rem); */
    display:none;
}

.ninetiesalbum{
    filter: drop-shadow(0 0 0.5rem #9747ffdd);
}

.tensalbum{
    filter: drop-shadow(0 0 0.5rem #00ff6655);
}

.twentiesalbum{
    filter: drop-shadow(0 0 0.5rem #00ffff6b);
}

.testclass{
    height:50%;
    width:auto;
    z-index: 25;
    position: absolute;
}

#test1{
    z-index: 50;
    opacity:70%;
}

#test2{
    z-index: 45;
    height: 60%;
    filter: blur(5px);
    opacity: 50%;
}

#test3{
    z-index: 40;
    height:70%;
    filter: blur(10px);
    opacity: 10%;
}

/* #xaviertitle{
    display:none;
}

#xaviernumber{
    display:none;
} */

.storytitle{
    font-family: stepsmonobold;
    font-size: 5vw;
    text-align: left;
    color: #ffffffae;
    z-index:10;
    position: absolute;
    margin-left: 60%;
    margin-top: 9%;
    display:none;
    filter: drop-shadow(0 0 0.3rem);
    /* mix-blend-mode: overlay; */
}

.storynumber{
    font-family: stepsmonobold;
    font-size: 4vw;
    text-align: left;
    color: white;
    z-index:10;
    position: absolute;
    margin-left: 60%;
    margin-top: 34.5%;
    display:none;
    mix-blend-mode: overlay;
}

.decade{
    position: relative;
    font-family: stepsmono;
    color: white;
    font-size: 1.5vw;
    margin:5%;
}

.decbutton{
    width:6vw;
    height:2.4vw;
    border-width: 1%;
    border-style:solid;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.146);
    text-align: center;
    margin-bottom: 3%;
    background-color: none;
    cursor: pointer;
}

.alldecades{
    margin-top: 11.6vw;
    margin-left: 9vw;
}

#button2{
    margin-left: 14vw;
    margin-bottom: 9vw;
    margin-top: 9vw;
}

/* #button3{ */
    /* margin-left: 11.5%; */
    /* margin-bottom: 5vw;
} */

#button4{
  margin-bottom: 7%;
}

/* #decade1{
    left: 9%;
    top: 20%;
} */

#button1:hover{
    background-color: #9747ff4e;
    transition-duration: 0.5s;
}

/* #decade2{
    left: 8.%;
    top: 31%;
} */

#button2:hover{
    background-color: #00ff6655;
    transition-duration: 0.5s;
}

/* #decade3{
    left: 8.25%;
    top: 45%;
} */

#button3:hover{
    background-color: #00ffff6b;
    transition-duration: 0.5s;
}

#button4:hover{
  background-color: #ffffff6b;
  transition-duration: 0.5s;
}

.storybutton{
    height: 6.5vw;
    width: 3.5vw;
    /* background-color: aqua; */
    border-radius: 7px;
    margin: 0.5%;
    filter: blur(1px);
    cursor: pointer;
    pointer-events:none;
    filter: grayscale(100%);
}

.firstclass{
    border-width: 3px;
    border-style:solid;
    border-color: #9747ffdd;
}

.secondclass{
    border-width: 3px;
    border-style:solid;
    border-color: #00ff6689;
}

.thirdclass{
    border-width: 3px;
    border-style:solid;
    border-color: #00ffff94;
}

#buttoncontainer{
    display:flex;
    grid-template-columns: repeat(17, 1fr);
    /* gap: 5px; */
    align-items: center;
    justify-content:right;
    margin-right: 5vw;
    margin-top: 5vw;
}

.circle{
    background-color: rgba(0, 0, 0, 0.46);
    border-color: white;
    border-width: 2%;
    border-style: solid;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    position: absolute;
    left:3%;
    top:27.5%;
    /* mix-blend-mode:overlay; */
}

.minicircle{
    background-color: rgb(0, 0, 0, 0.46);
    border-color: white;
    border-width: 2%;
    border-style: solid;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    position:absolute;
    left: 33%;
    top:32.5%;
}

.storytitle {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
    animation: storytitle 725ms infinite;
  }
  
  .storytitle span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .storytitle span:first-child {
    animation: storytitle 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }
  
  .storytitle span:last-child {
    animation: storytitle 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
  }

  
  @keyframes storytitle {
    0% {
      text-shadow: 0.05em 0 0 #00fffb58, -0.03em -0.04em 0 #fb00ff44,
        0.025em 0.04em 0 #fffb0048;
    }
    15% {
      text-shadow: 0.05em 0 0 #00fffb58, -0.03em -0.04em 0 #fb00ff44,
        0.025em 0.04em 0 #fffb0048;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #00fffb58, 0.025em 0.035em 0 #fb00ff44,
        -0.05em -0.05em 0 #fffb0048;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #00fffb58, 0.025em 0.035em 0 #fb00ff44,
        -0.05em -0.05em 0 #fffb0048;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #00fffb58, 0.03em 0 0 #fb00ff44,
        0 -0.04em 0 #fffb0048;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #00fffb58, 0.03em 0 0 #fb00ff44,
        0 -0.04em 0 #fffb0048;
    }
    100% {
      text-shadow: -0.05em 0 0 #00fffb58, -0.025em -0.04em 0 #fb00ff44,
        -0.04em -0.025em 0 #fffb0048;
    }
  }

  #ninetyline{
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0%;
  }

  #tenline{
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0%;
    transform: rotate(0deg);
  }

  #twentyline{
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0%;
    transform: rotate(0deg);
  }

  .decadedescription{
    width:60%;
    height: auto;
    font-family: supply;
    font-size: 1.1vw;
    text-align: left;
    line-height: 200%;
    color: white;
    position: absolute;
    left: 33%;
    top: 25%;
    
    /* border-width: 1%;
    border-style: solid;
    border-radius: 13px;
    padding-inline: 1%; */
  }

  #ninetiesdescription{
    display: none;
    border-color: #9747ff;
  }

  #tensdescription{
    display: none;
    border-color: #00ff66;
  }

  #twentiesdescription{
    border-color: #00ffff;
    display: none;
    top:25%;
  }

  #firstscript{
    filter: drop-shadow(0 0 0.7rem #9747ff);
  }

  #secondscript{
    filter: drop-shadow(0 0 0.7rem #00ff66);
  }

  #thirdscript{
    filter: drop-shadow(0 0 0.7rem #00ffff);
  }

  .decadedescription {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
    animation: decadedescription 725ms infinite;
  }
  
  .decadedescription span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .decadedescription span:first-child {
    animation: decadedescription 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.09em, -0.02em);
    opacity: 0.75;
  }
  
  .decadedescription span:last-child {
    animation: decadedescription 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.09em, 0.02em);
    opacity: 0.75;
  }

  
  @keyframes decadedescription {
    0% {
      text-shadow: 0.05em 0 0 #00fffb58, -0.03em -0.04em 0 #fb00ff44,
        0.025em 0.04em 0 #fffb0048;
    }
    15% {
      text-shadow: 0.05em 0 0 #00fffb58, -0.03em -0.04em 0 #fb00ff44,
        0.025em 0.04em 0 #fffb0048;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #00fffb58, 0.025em 0.035em 0 #fb00ff44,
        -0.05em -0.05em 0 #fffb0048;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #00fffb58, 0.025em 0.035em 0 #fb00ff44,
        -0.05em -0.05em 0 #fffb0048;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #00fffb58, 0.03em 0 0 #fb00ff44,
        0 -0.04em 0 #fffb0048;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #00fffb58, 0.03em 0 0 #fb00ff44,
        0 -0.04em 0 #fffb0048;
    }
    100% {
      text-shadow: -0.05em 0 0 #00fffb58, -0.025em -0.04em 0 #fb00ff44,
        -0.04em -0.025em 0 #fffb0048;
    }
  }

  .introslide1{
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: #00000000;
  backdrop-filter: blur(20px);
  }

  .eightoeight{
    float: left;
    width: 50%;
    height: auto;
    margin-left: 10%;
  }

  .introwords{
    float: right;
    color: white;
    font-family: supply;
    font-size: 1.8vw;
    width: 20%;
    margin-right: 15%;
  }

  .contain1{
    height:30%;
    width: auto;
    margin-top: 20%;
  }
  
  .continuebutton{
    width:17vw;
    height:4.5vw;
    /* border-style: solid;
    border-width: 1%;
    border-radius: 5px;
    border-color: white; */
    color: white;
    text-align: center;
    font-family: supply;
    font-size: 1.8vw;
    margin-left:43%;
    margin-top: 5%;
    cursor: pointer;
  }

  #topdown{
    /* margin-top:-10%; */
    margin-left:20%;
    width:35%;
    display:none;
  }
  #perspective{
    display:block;
  }
#firsttext{
  display:block;
}
  #secondtext{
    display:none;
    /* margin-top:-5%; */
    width:70%;
    text-align: center;
  }

  #thirdtext{
    display:none;
    width:70%;
    text-align: center;
  }
#continue{
  display:block;
  transition: all 200ms ease-out;
}
#continue:hover{
  color:#9747ff;
}
#continue2:hover{
  color:#00ff66;
}
#continue3:hover{
  color:#00ffff;
}
  #continue2{
    display:none;
    transition: all 200ms ease-out;
    margin-left: 41.5%;
  }
  

  #continue3{
    display:none;
    /* margin-top: 10%; */
    transition: all 200ms ease-out;
  }

  .title{
    background-color: #00000000;
    color: white;
    font-family: stepsmonobold;
    font-size: 5vw;
    text-align: center;
    width:100%;
    height:0%;
  }

  .subtitlez{
    font-size: 3vw;
  }

  #instructions{
    top:40%;
  }

  /* @media only screen and (min-width: 5000px) {
    .circle {
      width:450px;
      height:450px;
    }
    .minicircle{
      width:150px;
      height:150px;
    }
  } */